.modalInputContainer:not(:last-child) {
  margin: 0px 0px 20px;
}

.modalInput {
  width: 100%;
}

.modalBtns {
  display: flex;
  justify-content: flex-end;
}

.modalBtns >*:not(:last-child) {
  margin-right: 5px;
}