.todos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 60%;
  padding: 0px 10px 30px;
}

.noTodos {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}