.todo {
  border: 2px solid #f52549;
  border-radius: 10px;
  padding: 10px;
}

.todo:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.todoHeader {
  font-weight: bold;
}

.todoBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}