.header {
  background: #1f1f29;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.appLogo {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.nav__list {
  display: flex;
  text-decoration: none;
}

.nav__item {
  color: #fff;
  font-size: 18px;
  list-style-type: none;
}

.nav__item:not(:last-child) {
  padding-right: 15px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  text-decoration: underline;
}

@media (max-width: 920px) {
  .header {
    padding: 20px 30px;
  }
}